a {
  text-decoration: none;
}
body{
  margin: 0;
  background-color: #FFF9E1;
}
h1 {
  font-size:45px;
  text-align:center;
  text-shadow:2px 2px 8px #FF0000;
  border-bottom: 2px solid gray;
  padding: 25px;
  margin: 0;
}
ol {
  border-right: 2px gray solid;
  width:150px;
  margin:0;
  padding: 20px;
}
#js_main {
  padding-bottom: 25px;
  padding-top: 0;
}
#night_day {
  margin-left: 5px;
}
#grid{
  display:grid;
  grid-template-columns: 200px 1fr;
}
#grid ol {
  padding-left: 30px;
}
@media(max-width:800px){wed2
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1 {
    border-bottom:none;
  }
}
